/* Shared */

.input,
.button {
  padding: 4px 15px;

  border: 1px solid var(--color-neutral);
  border-radius: .25em;

  transition: all .15s ease;
}










/* Input */

.input_wrong { border-color: var(--color-red) }

.input:not(.input_wrong):focus { border-color: var(--color-accent) }










/* Button */

.button {
  color: var(--color, inherit);
  font-variation-settings: 'wght' 555;
  border-color: var(--color, var(--color-neutral));
  cursor: pointer;
}

.button:hover {
  color: white;
  background-color: var(--color, var(--color-accent));
  border-color: var(--color, var(--color-accent));
}

.button_danger { --color: var(--color-red) }
.button_success { --color: var(--color-green) }










/* Label */

.label { width: 100% }
.label-text { font-variation-settings: 'wght' 545 }










/* Container */

.container {
  max-width: 856px;
  min-width: 320px;

  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
}
