/* Main */

.tab {
  cursor: pointer;

  transition: all .15s ease;
}

.tab:not(.tab_active):hover { background-color: var(--color-light) }

.tab_active {
  color: white;

  background-color: var(--color-accent);
}










/* Task */

.tasks-container { border: 1px solid var(--color-accent) }

.task__inner:hover {
  background-color: var(--color-light);
  border-radius: .25em;

  cursor: pointer;
}

.task__subs-container {
  position: relative;

  margin-left: 2.25em;
}

.task__subs-container::after {
  content: '';

  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  width: 2px;
  height: 100%;

  background-color: var(--color-accent);
}










/* Popup */

.popup {
  display: none;

  z-index: 101;
}

.popup.popup_shown { display: block }

.popup__overlay {
  background-color: var(--color-neutral);

  z-index: -1;
}

.popup__inner { z-index: 1 }

.popup__header {
  color: var(--color-light);

  background-color: var(--color-darker);
  border-radius: .25em .25em 0 0;
}

#popup-close { cursor: pointer }
#popup-close:hover { text-decoration: underline }

.popup__sub + .popup__sub { margin-top: .25em }

.popup__main,
.popup__footer { background-color: var(--color-light); }
