/*
 * --------------------------------------------------
 * Variable defenitions */

:root {

  /* Colors */
  --c-light-1: #f9f7f7;
  --c-light-2: #dbe2ef;
  --c-light-3: #c1cae0;
  --c-accent: #3f72af;
  --c-dark: #112d4e;
  --c-black: #333333;

}
