/*
 * --------------------------------------------------
 * Wrapper */

.popup__wrapper {

  /* Display */
  display: none;

  /* Behavior */
  z-index: 100;

}

.popup__wrapper_shown {

  /* Display */
  display: block;

  /* Behavior */
  animation: popup-shown .25s ease;

}

/*
 * --------------------------------------------------
 * Overlay */

.popup__overlay {
  
  /* Positioning */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Dimensions */
  width: 100%;
  height: 100%;

  /* Appearance */
  background-color: var(--c-dark-op-1);

  /* Behavior */
  z-index: 101;

}

/*
 * --------------------------------------------------
 * Container */

.popup__container {
  
  /* Positioning */
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;

  /* Behavior */
  z-index: 102;

}

/*
 * --------------------------------------------------
 * Header */

.popup__top {

  /* Display */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Dimensions */
  padding: 5px 15px;
  border-radius: .25em .25em 0 0;
  
  /* Appearance */
  background-color: var(--c-light-2);

}

.popup__header-title {

  /* Font */
  font-weight: 500;
  font-size: 1.1em;

}

.popup__close-button:hover { text-decoration: underline }

/*
 * --------------------------------------------------
 * Popup content */

.popup__content {

  /* Display */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  /* Dimensions */
  padding: 30px;

  /* Appearance */
  background-color: var(--c-light-1);

}

/*
 * --------------------------------------------------
 * Popup row */

.popup__row {

  /* Display */
  flex-basis: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  /* Dimensions */
  margin-bottom: 15px;

}

.popup__row_half { flex-basis: 48% }

.popup__row_between { justify-content: space-between }

/*
 * --------------------------------------------------
 * Popup title */

.popup__title {

  /* Font */
  font-size: 1.15em !important;

  /* Dimensions */
  width: 100%;
  padding-top: 10px !important;
  padding-bottom: 10px !important;

}

/*
 * --------------------------------------------------
 * Popup field `done` */

.popup__done-label { margin-left: 5px }

/*
 * --------------------------------------------------
 * Popup childs */
 
.popup__add-child-label {

  /* Font */
  font-weight: 600;
  font-size: 1.1em;

}

.popup__childs-container {

  /* Dimensions */
  width: 100%;

  /* Appearance */
  border-radius: .25em;

}

.popup__todo-editable-child {

  /* Display */
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.popup__todo-editable-child-container:nth-child(n+2) { margin-top: 5px }

.popup__todo-editable-child-title {

  /* Dimensions */
  width: 100%;
  margin-left: 10px;
  
  /* Appearance */
  border-bottom-width: 1px !important;
  border-left-width: 2px !important;
  border-radius: 0 !important;

}

.popup__todo-editable-child-title:focus {

  /* Appearance */
  border-bottom-color: var(--c-light-2) !important;
  border-left-color: var(--c-accent) !important;

}

.popup__todo-editable-child-delete-button {

  /* Dimensions */
  margin-left: 10px;
  padding: 5px 10px;

  /* Appearance */
  background-color: var(--c-light-2);
  border-radius: .25em;

}

.popup__todo-editable-child-delete-button:hover { text-decoration: underline }

.popup__control-buttons {

  /* Dimensions */
  padding: 5px 10px;

  /* Appearance */
  background-color: var(--c-light-2);
  border-radius: .25em;

}



/*
 * --------------------------------------------------
 * Popup animation */

@keyframes popup-shown {
  0% { opacity: 0 }
  100% { opacity: 1 }
}