/*
 * --------------------------------------------------
 * Tabs */

.tabs {

  /* Display */
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;

  /* Dimensions */
  height: 50px;

}

/*
 * --------------------------------------------------
 * Tab */

.tabs__tab {

  /* Positioning */
  position: relative;

  /* Display */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Dimensions */
  width: 100%;

  /* Behavior */
  cursor: pointer;
  transition: background-color .25s ease;

}

.tabs__tab:not(.tabs__tab_active):hover {

  /* Appearance */
  background-color: var(--c-light-2);

}

.tabs__tab_active {

  /* Font */
  color: var(--c-light-1);

  /* Appearance */
  background-color: var(--c-accent);

}

.tabs__tab_active::before,
.tabs__tab_active + .tabs__tab::before { content: none !important }

.tabs__tab:nth-child(n+2)::before {

  content: '';

  /* Positioning */
  position: absolute;
  top: auto;
  bottom: auto;
  left: -1px;

  /* Dimensions */
  width: 2px;
  height: 72%;

  /* Appearance */
  background-color: var(--c-accent);

}

/*
 * --------------------------------------------------
 * Tabs title */

.tabs__tab-title {

  /* Font */
  font-size: 1.15em;
  font-weight: 600;

}

/*
 * --------------------------------------------------
 * Tabs filters */

 .tabs__filters { display: none }

/*
 * --------------------------------------------------
 * Content container */

.tab-content__container {

  /* Dimensions */
  padding: 15px;

  /* Appearance */
  border: 1px solid var(--c-accent);
  border-radius: 0 0 .25em .25em;
  box-shadow: inset 0px 0px 10px -5px var(--c-dark);

}
